.modal {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
  height:100vh;
  align-items:center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index:999;
  display: none;
	&.modal-show {
    display: flex;
	}
	&_wrap {
		width:800px;
	  height:450px;
	}
}