/************************ 5 - Components ***********************/
/************************ Movie Container **********************/


.moviecard {
	position:relative;
	overflow:hidden;
	margin:10px;
	width:calc(20% - 20px);
	&:hover .moviecard_wrap{
		opacity:1;
	}
	&_wrap {
		position:absolute;
		z-index:10;
		top:0;
		width:100%;
		height:100%;
		background: rgba(0, 0, 0, 0.8);
		color:#fff;
		opacity:0;
		transition: opacity 300ms;
	}
	&_content {
		display:flex;
		flex-direction: column;
		margin:0 10px;
		height:100%;
		align-items: center;
		justify-content:center;
		text-align:center;
	}
	h2 {
		margin-bottom:10px;
	}

}
.sidebar--active .moviecard:hover .moviecard_wrap {
	opacity: 0;
}
.moviecard_info {
	
}

#modal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:999;
}
.details_wrap {
	display:flex;
	width:100vw;
	height:100vh;
	background: rgba(0, 0, 0, 0.5);
	align-items:center;
	justify-content: center;
}

.details_container {
	width:800px;
	height:450px;
	background-color: #000;
}
.details_backdrop {
	position:relative;
	width:100%;
	height:100%;
	-webkit-filter: grayscale(100%) opacity(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(30%); 
  background-size: cover;
}
.details_content {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding:40px;
	color:#fff;
	h1 {
		font-size:32px;
		font-weight:900;
	}
}