/************************ 5 - Components ***********************/
/**************************** Sidebar **************************/

.sidebar {
	position:fixed;
	z-index:15;
	top:0;
	width:375px;
	height:100vh;
	background-color:white;
	box-shadow: 4px 5px 10px #575757;
	&__wrap {
		margin-top:60px;
		padding:20px;
		overflow:scroll;
	}
	& .sidebar__checkbox {
		padding:5px;
	}
}